@import 'reset';

body {
  font-size: 12px;
  font-family: 'Roboto Condensed', sans-serif;
  background: #eee;
  height: 100vh;
  overflow: hidden;
}

h1, h2 {
  color: #444;
  font-size: 1.5rem;
  margin: 0 0 1rem 0;
}

h2, select {
  font-size: 1rem;
}

#app {
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;

  nav {
    position: relative;

    .nav-wrapper {
      position: absolute;
      top: 2rem;
      width: 100%;
      overflow-y: scroll;

      height: 0px;

      &.visible {
        height: 86vh;
        transition: height 0.1s ease;
      }
    }

    ul {
      position: absolute;
      background: rgba(255, 255, 255, 0.8);
      width: 100%;
      z-index: 2;
      display: flex;
      flex-flow: column wrap;
      height: 150vh;

      li {
        box-sizing: border-box;
        height: 1.5rem;
        color: #444;
        width: 50%;
        overflow: hidden;
        white-space: nowrap;
        display: flex;
        padding: 6px 4px;

        a {
          color: inherit;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }        }
      }
    }
  }

  .gmap-wrapper {
    display: flex;
    position: relative;
    flex: 1;
    background: yellow;

    #gmap-canvas {
      width: 100%;
      height: 100%;
      flex: 4;
    }
  }
}
