@import 'reset';

html {
  height: 100%;
  position: relative;
}

body {
  font-size: 12px;
  font-family: 'Roboto Condensed', sans-serif;
  background: #eee;
  height: 100%;
}

h1, h2 {
  color: #444;
  font-size: 1.5rem;
  margin: 0 0 1rem 0;
}

h2, select {
  font-size: 1rem;
}

#app {
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;

  nav {
    position: relative;

    ul {
      position: absolute;
      background: rgba(255, 255, 255, 0.8);
      height: 85vh;
      width: 100%;
      overflow-y: scroll;
      top: 1000px;
      z-index: 2;

      &.visible {
        top: 2rem;
      }
    }
  }

  .gmap-wrapper {
    display: flex;
    position: relative;
    flex: 1;
    background: yellow;

    #gmap-canvas {
      width: 100%;
      height: 100%;
      flex: 4;
    }
  }
}
