<section>
  <h1>San Francisco Buses</h1>
</section>
<route-select
  @routes={{routes}}
  @selectedRoute={{selectedRoute}}
  @selectRoute={{action selectRoute}}
/>
<route-map @selectedRoute={{selectedRoute}}></route-map>
